.PreFooter_module_container__493fd3b5 {
    background-color: var(--color-L100)
}

.PreFooter_module_preFooter__493fd3b5 {
    padding-top: 40px;
    padding-bottom: 40px
}

.PreFooter_module_preFooter__493fd3b5 .PreFooter_module_listItem__493fd3b5 {
    margin: 0;
    padding: 0
}

.PreFooter_module_preFooter__493fd3b5 .PreFooter_module_listItem__493fd3b5:before {
    content: none
}

.PreFooter_module_preFooter__group__493fd3b5 {
    flex: 0 1 25%;
    margin-bottom: 30px;
    padding-right: 20px
}

._5hg70k {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style-type: none;
    grid-gap: 12px;
    gap: 12px
}

._sk2ot {
    counter-reset: item
}

._sk2ot>._1kqogns:before {
    content: counter(item) ".";
    counter-increment: item
}

._10vmnem>._1kqogns:before {
    content: "";
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMTAiIGN5PSIxMCIgcj0iMiIgZmlsbD0iIzE0MjQzOCIvPgo8L3N2Zz4K) no-repeat
}

._1kqogns {
    position: relative;
    margin: 0 0 0 20px;
    padding: 0 0 0 8px
}

._1kqogns:before {
    display: flex;
    position: absolute;
    top: 0;
    left: -20px;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px
}

._1kqogns._uciswa:before {
    display: none
}

._6prxcy {
    position: absolute;
    top: 0;
    left: -20px;
    margin-right: 8px;
    width: 20px;
    height: 20px
}

._1rje6us {
    color: var(--color-D60);
    font-size: 12px;
    line-height: 16px
}

._1m0eq57 {
    display: inline-flex;
    align-items: center;
    grid-gap: 4px;
    gap: 4px
}

._57c9p2 {
    font-size: 14px;
    line-height: 22px;
    overflow: hidden;
    transition: padding-bottom .3s cubic-bezier(.4, 0, .2, 1)
}

._57c9p2 h1,
._57c9p2 h2,
._57c9p2 h3,
._57c9p2 h4,
._57c9p2 h5,
._57c9p2 h6 {
    font-size: medium
}

@media screen and (min-width:768px) {
    ._57c9p2 {
        line-height: 1.6
    }
}

._57c9p2 img {
    height: auto!important;
    width: 100%!important
}

._57c9p2>p:first-child {
    margin-top: 0
}

._57c9p2 h3:not(:last-child),
._57c9p2 p:not(:last-child),
._57c9p2 ul:not(:last-child) {
    margin-bottom: 14px
}

._57c9p2 h3 img,
._57c9p2 p img,
._57c9p2 ul img {
    margin-bottom: 20px;
    margin-top: 20px
}

._57c9p2 strong {
    display: inline;
    font-size: inherit;
    font-weight: 700;
    margin: 0
}

._57c9p2 ul li {
    list-style: none
}

._57c9p2 ul li:before {
    content: "•";
    padding-right: 20px
}

._57c9p2 ol {
    padding-left: 20px
}

._57c9p2 ol li:not(:first-child),
._57c9p2 ul li:not(:first-child) {
    line-height: unset;
    padding-top: 8px
}

._57c9p2 ol li:last-child,
._57c9p2 ul li:last-child {
    margin-bottom: 0
}

._57c9p2 table {
    border-collapse: collapse;
    display: block;
    margin-top: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%
}

._57c9p2 table th {
    color: var(--color-D30);
    font-size: 12px;
    font-weight: 600;
    line-height: 16px
}

._57c9p2 table td {
    color: var(--color-D100);
    font-size: 14px;
    line-height: 20px
}

._57c9p2 table td,
._57c9p2 table th {
    border: none;
    min-width: 150px;
    padding: 15px 10px;
    text-align: left
}

._57c9p2 table td:first-child,
._57c9p2 table th:first-child {
    min-width: 70px;
    padding-left: 0
}

._57c9p2 table td:last-child,
._57c9p2 table th:last-child {
    padding-right: 0
}

._57c9p2 table tbody,
._57c9p2 table thead {
    display: table;
    width: 100%
}

._57c9p2 table tbody tr {
    border-top: 1px solid var(--color-D10)
}

._57c9p2 table tbody tr:last-child {
    border-bottom: 1px solid var(--color-D10)
}

._kuabzi {
    background-color: var(--color-L100);
    border-radius: 16px;
    padding: 20px 20px 8px
}

@media screen and (min-width:768px) {
    ._kuabzi {
        padding: 30px 30px 18px
    }
}

._1xm2ylk {
    font-family: var(--font-aeroport);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px
}

@media screen and (min-width:768px) {
    ._1xm2ylk {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 26px
    }
}

._hb4no8 {
    margin-left: -20px
}

._1rnc7w9 {
    background: var(--color-L100)!important;
    border-radius: 0;
    padding-top: 8px
}

._1rnc7w9:not(:first-child) {
    border-top: 1px solid var(--color-D10)
}

._1wdqu9j {
    font-family: var(--font-aeroport);
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 14px
}

._1kx5iek {
    padding-bottom: 12px
}

._12a469 {
    font-size: 14px;
    line-height: 22px;
    overflow: hidden;
    transition: padding-bottom .3s cubic-bezier(.4, 0, .2, 1)
}

._12a469 h1,
._12a469 h2,
._12a469 h3,
._12a469 h4,
._12a469 h5,
._12a469 h6 {
    font-size: medium
}

@media screen and (min-width:768px) {
    ._12a469 {
        line-height: 1.6
    }
}

._12a469 img {
    height: auto!important;
    width: 100%!important
}

._12a469>p:first-child {
    margin-top: 0
}

._12a469 h3:not(:last-child),
._12a469 p:not(:last-child),
._12a469 ul:not(:last-child) {
    margin-bottom: 14px
}

._12a469 h3 img,
._12a469 p img,
._12a469 ul img {
    margin-bottom: 20px;
    margin-top: 20px
}

._12a469 strong {
    display: inline;
    font-size: inherit;
    font-weight: 700;
    margin: 0
}

._12a469 ul li {
    list-style: none
}

._12a469 ul li:before {
    content: "•";
    padding-right: 20px
}

._12a469 ol {
    padding-left: 20px
}

._12a469 ol li:not(:first-child),
._12a469 ul li:not(:first-child) {
    line-height: unset;
    padding-top: 8px
}

._12a469 ol li:last-child,
._12a469 ul li:last-child {
    margin-bottom: 0
}

._12a469 table {
    border-collapse: collapse;
    display: block;
    margin-top: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%
}

._12a469 table th {
    color: var(--color-D30);
    font-size: 12px;
    font-weight: 600;
    line-height: 16px
}

._12a469 table td {
    color: var(--color-D100);
    font-size: 14px;
    line-height: 20px
}

._12a469 table td,
._12a469 table th {
    border: none;
    min-width: 150px;
    padding: 15px 10px;
    text-align: left
}

._12a469 table td:first-child,
._12a469 table th:first-child {
    min-width: 70px;
    padding-left: 0
}

._12a469 table td:last-child,
._12a469 table th:last-child {
    padding-right: 0
}

._12a469 table tbody,
._12a469 table thead {
    display: table;
    width: 100%
}

._12a469 table tbody tr {
    border-top: 1px solid var(--color-D10)
}

._12a469 table tbody tr:last-child {
    border-bottom: 1px solid var(--color-D10)
}

._19mj2wm {
    background-color: var(--color-L100);
    border-radius: 16px;
    padding: 30px
}

._nsv4tt {
    font-family: var(--font-aeroport);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 14px
}

@media screen and (min-width:768px) {
    ._nsv4tt {
        font-size: 28px;
        line-height: 32px
    }
}

._1jmr8yx {
    color: var(--color-D100);
    display: flex;
    flex-wrap: wrap
}

._pno3j:hover {
    color: var(--color-B100)
}

._pno3j:last-child {
    color: var(--color-D60);
    cursor: auto
}

._fr9gdo {
    font-size: 14px;
    line-height: 22px;
    overflow: hidden;
    transition: padding-bottom .3s cubic-bezier(.4, 0, .2, 1)
}

._fr9gdo h1,
._fr9gdo h2,
._fr9gdo h3,
._fr9gdo h4,
._fr9gdo h5,
._fr9gdo h6 {
    font-size: medium
}

@media screen and (min-width:768px) {
    ._fr9gdo {
        line-height: 1.6
    }
}

._fr9gdo img {
    height: auto!important;
    width: 100%!important
}

._fr9gdo>p:first-child {
    margin-top: 0
}

._fr9gdo h3:not(:last-child),
._fr9gdo p:not(:last-child),
._fr9gdo ul:not(:last-child) {
    margin-bottom: 14px
}

._fr9gdo h3 img,
._fr9gdo p img,
._fr9gdo ul img {
    margin-bottom: 20px;
    margin-top: 20px
}

._fr9gdo strong {
    display: inline;
    font-size: inherit;
    font-weight: 700;
    margin: 0
}

._fr9gdo ul li {
    list-style: none
}

._fr9gdo ul li:before {
    content: "•";
    padding-right: 20px
}

._fr9gdo ol {
    padding-left: 20px
}

._fr9gdo ol li:not(:first-child),
._fr9gdo ul li:not(:first-child) {
    line-height: unset;
    padding-top: 8px
}

._fr9gdo ol li:last-child,
._fr9gdo ul li:last-child {
    margin-bottom: 0
}

._fr9gdo table {
    border-collapse: collapse;
    display: block;
    margin-top: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%
}

._fr9gdo table th {
    color: var(--color-D30);
    font-size: 12px;
    font-weight: 600;
    line-height: 16px
}

._fr9gdo table td {
    color: var(--color-D100);
    font-size: 14px;
    line-height: 20px
}

._fr9gdo table td,
._fr9gdo table th {
    border: none;
    min-width: 150px;
    padding: 15px 10px;
    text-align: left
}

._fr9gdo table td:first-child,
._fr9gdo table th:first-child {
    min-width: 70px;
    padding-left: 0
}

._fr9gdo table td:last-child,
._fr9gdo table th:last-child {
    padding-right: 0
}

._fr9gdo table tbody,
._fr9gdo table thead {
    display: table;
    width: 100%
}

._fr9gdo table tbody tr {
    border-top: 1px solid var(--color-D10)
}

._fr9gdo table tbody tr:last-child {
    border-bottom: 1px solid var(--color-D10)
}

._17msuvj {
    position: relative
}

._o62jqm {
    align-items: center;
    display: flex
}

._2ig94o {
    margin-right: 12px
}

._r51t3r {
    display: flex;
    font-family: var(--font-aeroport);
    font-size: 16px;
    font-weight: 700;
    grid-gap: 6px;
    gap: 6px;
    line-height: 20px
}

._1fpwl2x {
    color: var(--color-D60);
    font-size: 14px;
    grid-area: title;
    line-height: 20px
}

@media screen and (min-width:768px) {
    ._1fpwl2x {
        margin-bottom: 5px
    }
}

._1iwibe2 {
    color: var(--color-D60);
    display: -webkit-box;
    font-size: 14px;
    line-height: 20px;
    margin-top: 12px
}

._pol5w4 {
    border: 1px solid var(--color-D10);
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0 20px
}

._kjzhyw {
    display: inline-block
}

._7eynyu {
    cursor: pointer
}

._djk5e {
    font-size: 14px;
    line-height: 22px;
    overflow: hidden;
    transition: padding-bottom .3s cubic-bezier(.4, 0, .2, 1)
}

._djk5e h1,
._djk5e h2,
._djk5e h3,
._djk5e h4,
._djk5e h5,
._djk5e h6 {
    font-size: medium
}

@media screen and (min-width:768px) {
    ._djk5e {
        line-height: 1.6
    }
}

._djk5e img {
    height: auto!important;
    width: 100%!important
}

._djk5e>p:first-child {
    margin-top: 0
}

._djk5e h3:not(:last-child),
._djk5e p:not(:last-child),
._djk5e ul:not(:last-child) {
    margin-bottom: 14px
}

._djk5e h3 img,
._djk5e p img,
._djk5e ul img {
    margin-bottom: 20px;
    margin-top: 20px
}

._djk5e strong {
    display: inline;
    font-size: inherit;
    font-weight: 700;
    margin: 0
}

._djk5e ul li {
    list-style: none
}

._djk5e ul li:before {
    content: "•";
    padding-right: 20px
}

._djk5e ol {
    padding-left: 20px
}

._djk5e ol li:not(:first-child),
._djk5e ul li:not(:first-child) {
    line-height: unset;
    padding-top: 8px
}

._djk5e ol li:last-child,
._djk5e ul li:last-child {
    margin-bottom: 0
}

._djk5e table {
    border-collapse: collapse;
    display: block;
    margin-top: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%
}

._djk5e table th {
    color: var(--color-D30);
    font-size: 12px;
    font-weight: 600;
    line-height: 16px
}

._djk5e table td {
    color: var(--color-D100);
    font-size: 14px;
    line-height: 20px
}

._djk5e table td,
._djk5e table th {
    border: none;
    min-width: 150px;
    padding: 15px 10px;
    text-align: left
}

._djk5e table td:first-child,
._djk5e table th:first-child {
    min-width: 70px;
    padding-left: 0
}

._djk5e table td:last-child,
._djk5e table th:last-child {
    padding-right: 0
}

._djk5e table tbody,
._djk5e table thead {
    display: table;
    width: 100%
}

._djk5e table tbody tr {
    border-top: 1px solid var(--color-D10)
}

._djk5e table tbody tr:last-child {
    border-bottom: 1px solid var(--color-D10)
}

._hd2vmc {
    background-color: var(--color-L100);
    border-radius: 16px;
    padding: 20px
}

@media screen and (min-width:768px) {
    ._hd2vmc {
        padding: 30px
    }
}

._18hhz41 {
    font-family: var(--font-aeroport);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px
}

@media screen and (min-width:768px) {
    ._18hhz41 {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 30px
    }
}

._48jc0 {
    font-size: 14px;
    line-height: 22px;
    overflow: hidden;
    transition: padding-bottom .3s cubic-bezier(.4, 0, .2, 1)
}

._48jc0 h1,
._48jc0 h2,
._48jc0 h3,
._48jc0 h4,
._48jc0 h5,
._48jc0 h6 {
    font-size: medium
}

@media screen and (min-width:768px) {
    ._48jc0 {
        line-height: 1.6
    }
}

._48jc0 img {
    height: auto!important;
    width: 100%!important
}

._48jc0>p:first-child {
    margin-top: 0
}

._48jc0 h3:not(:last-child),
._48jc0 p:not(:last-child),
._48jc0 ul:not(:last-child) {
    margin-bottom: 14px
}

._48jc0 h3 img,
._48jc0 p img,
._48jc0 ul img {
    margin-bottom: 20px;
    margin-top: 20px
}

._48jc0 strong {
    display: inline;
    font-size: inherit;
    font-weight: 700;
    margin: 0
}

._48jc0 ul li {
    list-style: none
}

._48jc0 ul li:before {
    content: "•";
    padding-right: 20px
}

._48jc0 ol {
    padding-left: 20px
}

._48jc0 ol li:not(:first-child),
._48jc0 ul li:not(:first-child) {
    line-height: unset;
    padding-top: 8px
}

._48jc0 ol li:last-child,
._48jc0 ul li:last-child {
    margin-bottom: 0
}

._48jc0 table {
    border-collapse: collapse;
    display: block;
    margin-top: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%
}

._48jc0 table th {
    color: var(--color-D30);
    font-size: 12px;
    font-weight: 600;
    line-height: 16px
}

._48jc0 table td {
    color: var(--color-D100);
    font-size: 14px;
    line-height: 20px
}

._48jc0 table td,
._48jc0 table th {
    border: none;
    min-width: 150px;
    padding: 15px 10px;
    text-align: left
}

._48jc0 table td:first-child,
._48jc0 table th:first-child {
    min-width: 70px;
    padding-left: 0
}

._48jc0 table td:last-child,
._48jc0 table th:last-child {
    padding-right: 0
}

._48jc0 table tbody,
._48jc0 table thead {
    display: table;
    width: 100%
}

._48jc0 table tbody tr {
    border-top: 1px solid var(--color-D10)
}

._48jc0 table tbody tr:last-child {
    border-bottom: 1px solid var(--color-D10)
}

._1va9pgp {
    position: relative
}

._7rb1eg {
    align-items: center;
    display: flex
}

._basvge {
    margin-right: 12px
}

._13en46g {
    display: flex;
    font-family: var(--font-aeroport);
    font-size: 16px;
    font-weight: 700;
    grid-gap: 6px;
    gap: 6px;
    line-height: 20px
}

._1fs25lb {
    color: var(--color-D60);
    font-size: 14px;
    grid-area: title;
    line-height: 20px
}

@media screen and (min-width:768px) {
    ._1fs25lb {
        margin-bottom: 5px
    }
}

._sxcfgt {
    color: var(--color-D60);
    display: -webkit-box;
    font-size: 14px;
    line-height: 20px;
    margin-top: 12px
}

._joz724 {
    border: 1px solid var(--color-D10);
    margin-bottom: 16px;
    margin-top: 16px;
    padding: 0 20px
}

@media screen and (min-width:768px) {
    ._joz724 {
        margin-bottom: 20px;
        margin-top: 20px
    }
}

._jhmf79 {
    display: inline-block
}

._5va8xn {
    font-size: 14px;
    line-height: 22px;
    overflow: hidden;
    transition: padding-bottom .3s cubic-bezier(.4, 0, .2, 1)
}

._5va8xn h1,
._5va8xn h2,
._5va8xn h3,
._5va8xn h4,
._5va8xn h5,
._5va8xn h6 {
    font-size: medium
}

@media screen and (min-width:768px) {
    ._5va8xn {
        line-height: 1.6
    }
}

._5va8xn img {
    height: auto!important;
    width: 100%!important
}

._5va8xn>p:first-child {
    margin-top: 0
}

._5va8xn h3:not(:last-child),
._5va8xn p:not(:last-child),
._5va8xn ul:not(:last-child) {
    margin-bottom: 14px
}

._5va8xn h3 img,
._5va8xn p img,
._5va8xn ul img {
    margin-bottom: 20px;
    margin-top: 20px
}

._5va8xn strong {
    display: inline;
    font-size: inherit;
    font-weight: 700;
    margin: 0
}

._5va8xn ul li {
    list-style: none
}

._5va8xn ul li:before {
    content: "•";
    padding-right: 20px
}

._5va8xn ol {
    padding-left: 20px
}

._5va8xn ol li:not(:first-child),
._5va8xn ul li:not(:first-child) {
    line-height: unset;
    padding-top: 8px
}

._5va8xn ol li:last-child,
._5va8xn ul li:last-child {
    margin-bottom: 0
}

._5va8xn table {
    border-collapse: collapse;
    display: block;
    margin-top: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%
}

._5va8xn table th {
    color: var(--color-D30);
    font-size: 12px;
    font-weight: 600;
    line-height: 16px
}

._5va8xn table td {
    color: var(--color-D100);
    font-size: 14px;
    line-height: 20px
}

._5va8xn table td,
._5va8xn table th {
    border: none;
    min-width: 150px;
    padding: 15px 10px;
    text-align: left
}

._5va8xn table td:first-child,
._5va8xn table th:first-child {
    min-width: 70px;
    padding-left: 0
}

._5va8xn table td:last-child,
._5va8xn table th:last-child {
    padding-right: 0
}

._5va8xn table tbody,
._5va8xn table thead {
    display: table;
    width: 100%
}

._5va8xn table tbody tr {
    border-top: 1px solid var(--color-D10)
}

._5va8xn table tbody tr:last-child {
    border-bottom: 1px solid var(--color-D10)
}

._1hij3ly {
    background-color: var(--color-L100);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    gap: 20px;
    padding: 16px 20px
}

@media screen and (min-width:768px) {
    ._1hij3ly {
        padding: 30px
    }
}

._amwxs3 {
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%
}

._1pkw3ln {
    font-size: 14px;
    line-height: 22px;
    overflow: hidden;
    transition: padding-bottom .3s cubic-bezier(.4, 0, .2, 1)
}

._1pkw3ln h1,
._1pkw3ln h2,
._1pkw3ln h3,
._1pkw3ln h4,
._1pkw3ln h5,
._1pkw3ln h6 {
    font-size: medium
}

@media screen and (min-width:768px) {
    ._1pkw3ln {
        line-height: 1.6
    }
}

._1pkw3ln img {
    height: auto!important;
    width: 100%!important
}

._1pkw3ln>p:first-child {
    margin-top: 0
}

._1pkw3ln h3:not(:last-child),
._1pkw3ln p:not(:last-child),
._1pkw3ln ul:not(:last-child) {
    margin-bottom: 14px
}

._1pkw3ln h3 img,
._1pkw3ln p img,
._1pkw3ln ul img {
    margin-bottom: 20px;
    margin-top: 20px
}

._1pkw3ln strong {
    display: inline;
    font-size: inherit;
    font-weight: 700;
    margin: 0
}

._1pkw3ln ul li {
    list-style: none
}

._1pkw3ln ul li:before {
    content: "•";
    padding-right: 20px
}

._1pkw3ln ol {
    padding-left: 20px
}

._1pkw3ln ol li:not(:first-child),
._1pkw3ln ul li:not(:first-child) {
    line-height: unset;
    padding-top: 8px
}

._1pkw3ln ol li:last-child,
._1pkw3ln ul li:last-child {
    margin-bottom: 0
}

._1pkw3ln table {
    border-collapse: collapse;
    display: block;
    margin-top: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%
}

._1pkw3ln table th {
    color: var(--color-D30);
    font-size: 12px;
    font-weight: 600;
    line-height: 16px
}

._1pkw3ln table td {
    color: var(--color-D100);
    font-size: 14px;
    line-height: 20px
}

._1pkw3ln table td,
._1pkw3ln table th {
    border: none;
    min-width: 150px;
    padding: 15px 10px;
    text-align: left
}

._1pkw3ln table td:first-child,
._1pkw3ln table th:first-child {
    min-width: 70px;
    padding-left: 0
}

._1pkw3ln table td:last-child,
._1pkw3ln table th:last-child {
    padding-right: 0
}

._1pkw3ln table tbody,
._1pkw3ln table thead {
    display: table;
    width: 100%
}

._1pkw3ln table tbody tr {
    border-top: 1px solid var(--color-D10)
}

._1pkw3ln table tbody tr:last-child {
    border-bottom: 1px solid var(--color-D10)
}

._1co8whi {
    font-family: var(--font-aeroport);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    width: 100%
}

._1co8whi,
._17rr5za h4:not(:last-child),
._17rr5za h5:not(:last-child),
._17rr5za ol:not(:last-child),
._17rr5za table:not(:last-child),
._17rr5za ul:not(:last-child) {
    margin-bottom: 14px
}

._17rr5za ul li:before {
    content: "•";
    padding-right: 8px
}

._g1yq65 {
    display: flex;
    flex-direction: column;
    grid-gap: 32px;
    gap: 32px
}

._19rqvgc {
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%
}

._2d8uus {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 100%
}

._1bq78av {
    background: var(--color-L100);
    border-radius: 16px;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    padding: 16px;
    width: 300px
}

._1bq78av,
._1bq78av:active,
._1bq78av:focus,
._1bq78av:hover,
._1bq78av:visited {
    color: var(--color-D100);
    text-decoration: none
}

._av8j4x {
    grid-gap: 16px;
    -webkit-box-pack: justify;
    align-items: center;
    display: flex;
    height: 44px;
    justify-content: space-between
}

._71yfmv {
    margin-right: 4px
}

._71yfmv>svg {
    fill: currentColor
}

._e3hn99 {
    display: flex;
    flex: 1 0;
    flex-direction: column;
    overflow: hidden
}

._14r1t6s {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-family: var(--font-aeroport);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    overflow: hidden
}

._1hz61wg {
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
    gap: 8px;
    margin-top: 16px
}

._1q69jlw {
    flex: 0 0 44px;
    height: 44px
}

._1rge3pi {
    border: 1px solid var(--color-D06);
    border-radius: 12px;
    height: 100%;
    width: 100%
}

@media (-ms-high-contrast:active),
(-ms-high-contrast:none) {
    ._1rge3pi {
        max-height: 36px;
        width: 100%
    }
}

._s3z07p {
    color: var(--color-D100);
    display: block;
    font-family: var(--font-aeroport);
    font-size: 16px;
    font-weight: 600
}

._s3z07p span {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden
}

._u91ayv {
    margin-bottom: 8px
}

._19xov0h {
    color: var(--color-D30);
    font-size: 12px;
    font-weight: 100;
    text-align: left
}

._2on4og {
    align-items: center;
    display: flex;
    font-size: 12px
}

._1dcaj21 {
    cursor: pointer
}

._11bv7i9 {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis
}

._1qckufx {
    cursor: pointer;
    font-weight: 600;
    position: relative;
    text-decoration: transparent;
    transition: color .3s cubic-bezier(.46, 0, .03, .99)
}

._1qckufx[disabled] {
    color: var(--color-D20);
    cursor: not-allowed;
    pointer-events: none
}

._wugw8n {
    border-radius: 4px
}

._wugw8n h2 {
    font-family: var(--font-aeroport);
    font-size: 22px;
    font-weight: 700;
    line-height: 28px
}

._w26k1f {
    max-width: 1260px
}

._1f07lek>div>div:first-child {
    margin-bottom: 16px
}

@media screen and (min-width:1024px) {
    ._1f07lek>div>div:first-child {
        margin-bottom: 24px
    }
}

._1f07lek>div>div:first-child h3 {
    font-size: 18px;
    line-height: 22px
}

@media screen and (min-width:1024px) {
    ._1f07lek>div>div:first-child h3 {
        font-size: 28px;
        line-height: 32px
    }
}

._1dt8tka {
    color: var(--color-B100);
    font-size: 14px;
    font-weight: 600;
    line-height: 36px;
    margin-top: 8px
}

._swlw2y {
    overflow: hidden
}

._swlw2y ._1x5v6cn {
    display: flex;
    grid-gap: 20px;
    gap: 20px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none
}

._swlw2y ._1x5v6cn>div>* {
    flex-grow: 0;
    flex-shrink: 0
}

._swlw2y ._1x5v6cn::-webkit-scrollbar {
    display: none
}

@media screen and (min-width:1024px) {
    ._swlw2y ._1x5v6cn {
        margin-left: var(--position);
        padding-right: 0;
        padding-left: 0;
        overflow: visible;
        transition: margin .2s linear
    }
}

._19a11j3 {
    position: relative
}

._19a11j3._z7fr82:after,
._19a11j3._z7fr82:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    width: 0;
    height: 100%;
    transition: all .2s linear;
    transition-property: width, opacity;
    opacity: 0;
    background: linear-gradient(270deg, var(--color-D06) 0, hsla(30, 10%, 96%, 0) 100%)
}

._19a11j3._z7fr82:after {
    right: 0
}

._19a11j3._z7fr82:before {
    left: 0
}

._19a11j3._q0lq4r:after,
._19a11j3._s09hnr:before {
    width: 60px;
    opacity: 1
}

._19a11j3._s09hnr:before {
    transform: rotate(-180deg)
}

._teom4l {
    margin-bottom: 16px
}

@media screen and (min-width:1024px) {
    ._teom4l {
        margin-bottom: 32px
    }
}

._e9vlva {
    color: var(--color-D80);
    font-family: var(--font-aeroport);
    font-weight: 700;
    font-size: 21px;
    line-height: 27px
}

@media screen and (min-width:1024px) {
    ._e9vlva {
        font-family: var(--font-aeroport);
        font-weight: 700;
        font-size: 28px;
        line-height: 32px
    }
}

._2k59ms._1iidrm6 {
    width: auto
}

._un70bo {
    display: none;
    z-index: 2
}

@media screen and (min-width:1024px) {
    ._un70bo {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-L100);
        color: var(--color-D100);
        cursor: pointer
    }
    ._un70bo._xkzaxw {
        color: var(--color-D20);
        pointer-events: none
    }
    ._un70bo:hover ._c8617b {
        color: var(--color-B100)
    }
    ._un70bo._1orn1jl {
        right: 16px
    }
    ._un70bo._1ld7grc {
        left: 16px
    }
}

._2yoqpy {
    display: flex;
    position: fixed;
    z-index: 1060;
    top: 0;
    right: 0;
    flex-direction: column;
    align-items: flex-end;
    max-height: 100%;
    pointer-events: none;
    grid-gap: 12px;
    gap: 12px
}

div._10jbapg {
    width: auto;
    max-width: 100%;
    margin: 0 30px;
    background-color: var(--color-D100);
    color: var(--color-L100);
    pointer-events: auto
}

@media screen and (min-width:768px) {
    div._10jbapg {
        max-width: 400px
    }
}

div._10jbapg:first-child {
    margin-top: 20px
}

div._10jbapg:last-child {
    margin-bottom: 20px
}

._1qhgmsm {
    display: flex;
    flex-direction: column;
    padding: 14px 16px;
    backface-visibility: hidden;
    border-radius: 12px;
    grid-gap: 12px;
    gap: 12px
}

._16l5t68 {
    background-color: var(--color-L100)
}

._ehcv45 {
    background-color: var(--color-D10)
}

._tcofbr {
    background-color: var(--color-G06)
}

._73urvp {
    background-color: var(--color-O06)
}

._6asrhz {
    background-color: var(--color-R06)
}

._18tytmh {
    background-color: var(--color-B06)
}

._1cxwgnr {
    padding: 0
}

._1tqu7w6 {
    display: flex;
    flex-direction: column
}

._1d5hl4m {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px
}

._v5tb3n {
    align-self: center
}

._1tgvz9o {
    font-size: 12px;
    line-height: 16px
}

._19dy8vc {
    display: flex;
    flex-direction: column;
    align-items: inherit
}

@media screen and (min-width:768px) {
    ._19dy8vc {
        flex-direction: row
    }
}

._2ap7u5 {
    flex-shrink: 0;
    align-items: center;
    cursor: pointer
}

._1wuaebv {
    flex-shrink: 0;
    width: 36px;
    height: 36px
}

._lfqxd5 {
    display: inline-flex;
    position: relative
}

._1grdi1h {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s cubic-bezier(.46, 0, .03, .99);
    font-weight: 600;
    letter-spacing: .5px;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    grid-gap: 6px;
    gap: 6px;
    font-size: 10px;
    line-height: 16px
}

._1e8yrvd {
    position: absolute;
    box-shadow: 0 0 0 2px var(--color-L100)
}

._q090vk {
    top: 1px;
    right: 1px;
    transform: translate(30%, -30%)
}

._1nbmjet {
    right: 1px;
    bottom: 1px;
    transform: translate(30%, 30%)
}

._13cnnoy {
    background-color: var(--color-D10);
    color: var(--color-D100)
}

._vcw1i0 {
    background-color: var(--color-D100);
    color: var(--color-L100)
}

._12q7wd0 {
    background-color: var(--color-G06);
    color: var(--color-D100)
}

._21kg8u {
    background-color: var(--color-G100);
    color: var(--color-L100)
}

._1s3cd0s {
    background-color: var(--color-B06);
    color: var(--color-D100)
}

._la0btk {
    background-color: var(--color-B100);
    color: var(--color-L100)
}

._qc7cq6 {
    background-color: var(--color-V06);
    color: var(--color-D100)
}

._110pl4u {
    background-color: var(--color-V100);
    color: var(--color-L100)
}

._mxtafg {
    background-color: var(--color-O06);
    color: var(--color-D100)
}

._1up09sy {
    background-color: var(--color-O100);
    color: var(--color-L100)
}

._1qx5xgz {
    background-color: var(--color-R06);
    color: var(--color-D100)
}

._4z4gej {
    background-color: var(--color-R100);
    color: var(--color-L100)
}

._1jpobc,
._1m6ovi5 {
    background-color: var(--color-L100);
    color: var(--color-D100)
}

._d80tz3 {
    height: 20px;
    padding: 0 8px;
    border-radius: 20px
}

._rcv8kb {
    width: 20px;
    height: 20px;
    border-radius: 50%
}

._19uvxv2 {
    padding: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%
}

._utzdjt {
    display: flex;
    border: 1px solid transparent
}

._1ntnd3h {
    box-shadow: 0 12px 16px rgba(0, 0, 0, .06)
}

._1e4oips {
    padding: 16px;
    border-radius: 16px
}

._73yenx {
    padding: 24px;
    border-radius: 24px
}

._1slxhnl {
    padding: 32px;
    border-radius: 32px
}

._rt46w {
    padding: 40px;
    border-radius: 40px
}

._1f6q2p8 {
    border-color: var(--color-D10)
}

._1f6q2p8,
._1ke009i {
    background-color: var(--color-L100)
}

._1ke009i {
    border-color: var(--color-L100)
}

._12pqubx {
    background-color: var(--color-L100)
}

._12pqubx,
._17fb5d7 {
    border-color: var(--color-D10)
}

._17fb5d7 {
    background-color: var(--color-D10)
}

._ak1v6p {
    border-color: var(--color-G30);
    background-color: var(--color-L100)
}

._zrpvox {
    border-color: var(--color-G06);
    background-color: var(--color-G06)
}

._iuydac {
    border-color: var(--color-B30);
    background-color: var(--color-L100)
}

._1gsz9gn {
    border-color: var(--color-B06);
    background-color: var(--color-B06)
}

._3ughsz {
    border-color: var(--color-R30);
    background-color: var(--color-L100)
}

._1h88xyx {
    border-color: var(--color-R06);
    background-color: var(--color-R06)
}

._nu90vw {
    border-color: var(--color-O30);
    background-color: var(--color-L100)
}

._ygemju {
    border-color: var(--color-O06);
    background-color: var(--color-O06)
}

._2d4dpp,
._ny8eoh {
    width: 100%
}

._1ev71f8 {
    max-height: 341px;
    padding: 0;
    overflow-y: auto;
    border-radius: 12px;
    background-color: var(--color-L100);
    box-shadow: 0 -2px 6px rgba(0, 0, 0, .02), 0 10px 14px rgba(20, 36, 56, .06)
}

@media screen and (min-width:768px) {
    ._1ev71f8 {
        padding: 8px
    }
}

._15hvgbk {
    cursor: pointer
}

._1m2gd15 {
    transform: rotate(180deg);
    transition: transform .15s cubic-bezier(.86, 0, .07, 1)
}

._1xeuzyk._wgkhn8 {
    padding: 8px
}

._148utmz {
    cursor: pointer
}

._148utmz:focus-visible {
    outline: none
}

._mxasfg {
    max-height: 341px
}

._1eelpq7 {
    position: relative;
    padding: 16px;
    overflow: hidden;
    border-radius: 16px;
    background-color: var(--color-L100);
    box-shadow: 0 12px 16px rgba(0, 0, 0, .06)
}

._b7s28z {
    position: relative;
    z-index: 1050
}

._170utns {
    display: flex;
    position: fixed;
    z-index: 1040;
    align-items: flex-start;
    justify-content: center
}

._170utns,
._ftzuhs {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

._ftzuhs {
    position: absolute;
    opacity: 0;
    background-color: var(--color-D100)
}

._rbf1ry {
    margin-right: 16px;
    font-family: var(--font-aeroport);
    font-weight: 700;
    font-size: 22px;
    line-height: 26px
}

._rbf1ry+._1fume56 {
    padding-top: 0
}

._1fume56 {
    overflow-y: auto
}

._ce66cw+._1fume56 {
    padding-top: 32px
}

._ce66cw {
    position: absolute;
    top: 12px;
    right: 12px;
    flex-shrink: 0;
    align-items: center;
    padding: 4px;
    cursor: pointer
}

._emc5x4 {
    display: flex;
    position: fixed;
    z-index: 1050;
    right: 0;
    bottom: -80vh;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    max-height: calc(100% + 80vh - 57px);
    padding-bottom: 80vh;
    border-radius: 12px 12px 0 0;
    background-color: var(--color-L100);
    box-shadow: 0 -2px 6px rgba(0, 0, 0, .02), 0 10px 14px rgba(20, 36, 56, .06)
}

._emc5x4:after {
    content: "";
    position: absolute;
    top: 8px;
    left: 50%;
    width: 72px;
    height: 4px;
    transform: translateX(-50%);
    border-radius: 4px;
    background-color: var(--color-D10)
}

._emc5x4._12yp1g1 {
    height: calc(100% + 80vh - 57px)
}

._vpl88 {
    display: flex;
    position: fixed;
    z-index: 1040;
    align-items: flex-start;
    justify-content: center
}

._qkwo5y,
._vpl88 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

._qkwo5y {
    position: absolute;
    opacity: 0;
    background-color: var(--color-D100)
}

._5ahhbc {
    width: 100%;
    padding: 36px 16px 0
}

._5ahhbc+._1ejujpz {
    margin-top: 16px
}

._97lc9a {
    display: flex;
    flex-direction: column;
    padding: 0 16px 16px
}

@media screen and (min-width:768px) {
    ._97lc9a {
        flex-direction: row
    }
}

._q5f836 {
    font-weight: 600;
    font-family: var(--font-aeroport);
    font-weight: 700;
    font-size: 22px;
    line-height: 26px
}

._x8ehou {
    align-self: center
}

._682n57 {
    color: var(--color-D30);
    font-size: 12px;
    line-height: 16px
}

._1rlaf3g {
    position: absolute;
    top: 16px;
    right: 16px;
    flex-shrink: 0;
    align-items: center;
    cursor: pointer
}

._1ejujpz {
    flex: 1 1;
    width: 100%;
    margin: 36px 0 16px;
    padding: 0 16px;
    overflow-y: auto
}

._1ejujpz._oigbmr {
    padding: 16px;
    border-top: 1px solid var(--color-D10);
    border-bottom: 1px solid var(--color-D10)
}

._3x3ko9 {
    position: absolute;
    z-index: 1050;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0
}